/* 
* @author Hillkim
*/
.menu {
  width: 33vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: aqua;
  overflow-x: hidden;
  transition: 0.6s;
  padding-top: 10vh;
  text-align: center;
}
.menu ul {
  list-style: none;
  text-align: center;
  display: inline;
}
.menu li {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}
.menu li a {
  padding: 8px 8px 8px 32px;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 5vh;
  display: block;
  font-family: "Autour One", cursive;
  transition: 0.3s;
  margin: auto;
}
.menu li a:hover {
  color: teal;
  font-size: 6vh;
  transition: 0.4s;
}
.menu-button {
  position: fixed;
  z-index: 3;
  right: 0;
  top: 0;
  bottom: 0;
  background: transparent;
  overflow-x: hidden;
  transition: 0.5s;
  padding: auto;
  border: none;
  outline: none;
  margin-left: -8px;
}
.menu-button:active {
  padding: 0;
  border: none;
  outline: none;
  transition: 0.5s;
}
.menu-icon {
  height: 50px;
  width: 50px;
  border-radius: 2px;
  margin-left: 0;
  overflow: hidden;
  margin-right: 10px;
  padding: 0 0px 0 2px;
  transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
}
.menu-icon-open {
  height: 50px;
  width: 50px;
  transition: 0.5s;
  overflow: hidden;
  margin: 0px;
  transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
}
.menu-icon-open:hover {
  overflow: hidden;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(1600deg);
}
.menu-open {
  position: fixed;
  z-index: 3;
  right: 20px;
  top: 20px;
  overflow: hidden;
  transition: 0.5s;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  margin-left: -8px;
}
.menu-icon:hover {
  overflow: hidden;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(1600deg);
  background: transparent;
}

@media (max-width: 800px) {
  .menu {
    height: 100%;
    width: 50vw;
  }
}
@media only screen and (min-device-width: 200px) and (max-device-width: 480px) {
  .menu {
    height: 100vh;
    width: 100vw;
  }
  .menu-button {
    height: 10vh;
    width: 20vw;
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 800px) {
  .menu {
    height: 100vh;
    width: 50vw;
  }
  .menu-button {
    height: 10vh;
    width: 10vw;
  }
}
